*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
  margin: 133px 30px;
}

.content__details {
  width: 399px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
    
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 194px;
  grid-column-gap: 40px;
  align-items: start;
}

.content__list-container {
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  position: relative;
  padding-left: 2px;
  padding-right: 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* padding: 26px 7px 2px 2px; */
}

/* .content__list-item {
  padding-left: 3px;
  padding-right: 3px;
} */

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}

  .visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  line-height: 23px;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-size: 18px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  line-height: 100%;
}

.search-form__label:has(:focus-visible) {
  outline:  1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__checkbox ~ .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  height: 34px;
  width: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700px;
  align-self: center;
  justify-self: end;
  line-height: 100%;
  outline: none;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  justify-self: flex-end;
  align-self: flex-end;
}

.more-button {
  flex-shrink: 0;
}

.button:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px
}

.button:active {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}